@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.nav-link, .blog-tag
    color: $accentColor !important

.ui-post-tag, .ui-post-summary, time, .router-link-exact-active
    color: $textColor !important

.router-link-exact-active
    text-decoration: underline !important

.blog-tag
    border-color: $borderColor !important

body, p
    font-family: 'Roboto' !important
    font-size: 14pt !important

code 
    font-size: 1em !important
    padding: 0 !important

a.nav-link, .post-title, h2
    font-family: monospace !important

.search-box input
    color: #000000