
$bgColor = #000000

$textColor = #ffffff

$newsletterBgColor = #ffffff

$contentWidth = 1000px

$borderColor = #ffffff

$codeBgColor = lighten(#000000, 10%)

$headerBgColor = lighten(#000000, 20%);

$codeLang = csharp